<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.0 Transitional//EN'>
<html>

<head>
    <meta http-equiv='content-type' content='text/html; charset=iso-8859-1' />
    <title> </title>
    <meta name='created' content='2009-07-01T05:49:00' />
    <style>
        div.receipt-template {
            width: 220px;
            max-width: 220px;
            margin: none;
        }


        hr.dashed-line {
            border-top: 1px dashed;
        }

        p.center-text {
            text-align: center;
        }

        p.invoice-text {
            margin: 0;
        }
    </style>
</head>

<body>
    <div class='receipt-template'>
        <div class='receipt-template-header'>

            <hr class='dashed-line' />

            <p align='center'>
                <b>{{this.businessEntity.displayName}}</b>
                <br /> {{this.businessEntity.subTitle}}
            </p>
            <hr class='dashed-line' />

        </div>

        <p>
            Order No: {{this.paymentAdvise.id}}
        </p>

        <table>
            {{#each this.cart.cartItems}} {{#ifCondEq quantity 1}}
            <div>
                <tr>
                    <td width='143'>
                        <p class='invoice-text'>
                            {{name}}
                        </p>
                    </td>
                    <td width='77'>
                        <p class='invoice-text' align='right'>
                            {{currency totalPrice}}</p>
                    </td>
                </tr>
            </div>
            {{else}}
            <div>
                <tr>
                    <td width='220'>
                        <p class='invoice-text'>
                            {{name}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width='143'>
                        <p class='invoice-text'>
                            {{quantity}} x {{currency unitPrice}}
                        </p>
                    </td>
                    <td width='77'>
                        <p class='invoice-text' align='right'>
                            {{currency totalPrice}}
                        </p>
                    </td>
                </tr>
            </div>
            {{/ifCondEq}} {{/each}}
        </table>

        <br />

        <table>
            <tr>
                <td width='143'>
                    <p class='invoice-text'>
                        <b>TOTAL</b></p>
                </td>
                <td width='77'>
                    <p class='invoice-text' lang='en-GB' class='western' align='right'>
                        <b>LKR {{currency this.paymentAdvise.amountPayable}}</b></p>
                </td>
            </tr>
        </table>

        <br />

        <table>
            <tr style='font-size: 15px'>
                <td>
                    <p class='invoice-text'>
                        Date: &nbsp;
                        {{!--{{ this.paymentAdvise.lastUpdatedTimestamp}} &nbsp;--}}
                        {{!--{{date this.paymentAdvise.lastUpdatedTimestamp}} &nbsp;--}}
                        {{DateTimeFormat this.paymentAdvise.lastUpdatedTimestamp}}</b>
                    </p>
                </td>
            </tr>
            {{!--
            <tr style='font-size: 15px'>--}} {{!--
                <td>--}} {{!--
                    <p class='invoice-text'>--}} {{!-- Total Items: &nbsp;2</b>
                    </p>--}} {{!-- </td>--}} {{!--
            </tr>--}}
            <tr style='font-size: 15px'>
                <td>
                    <p class='invoice-text'>
                        Payment Method: &nbsp;{{this.paymentAdvise.paymentMethod}}</b>
                    </p>
                </td>
            </tr>
        </table>
        <div class='receipt-template-footer'>
            <hr class='dashed-line' />

            <p class='invoice-text' align='center'>
                Thank you!
            </p>
        </div>

    </div>

    </div>


</body>

</html>
